@import'variables.scss';

.article-wrapper-second{
    max-width:1366px;
    position: relative;
    background:$bgColor2;
    
    .content-wrapper{
        max-width: 1366px;
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-inner-link{
            max-width:960px;
            margin:0 auto 20px auto;
            padding:20px 60px;
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            align-items: center;
            border-top:1px solid $textColorSecond;
            border-bottom:1px solid $textColorSecond;
            a{
                display: flex;
                align-items: center;
                text-decoration:none;
                font-size:.8rem;
                color:$textColorSecond;
                text-transform: uppercase;
                font-weight:600;

                span{
                    margin: 0 10px;
                }
                &:hover{
                    color:$textColorFirst;
                }
                &:last-child{
                    color:red;
                }
            }
        }
        .content-inner-body{
            width:100%;
            max-width:1300px;
            margin:0 auto;
            position: relative;
            display: grid;
            grid-template-rows: repeat(4, 250px);
            grid-template-columns: repeat(3, auto);
            grid-gap:10px 10px;
            .img-inner:last-child{
                grid-row:4/4;
                grid-column:2/2;
            }
            .cross-content,.search-content{
                width:40px;
                height:40px;
                border-radius: 50%;
                background:$textColorSecond;
                opacity: 0;
                position: absolute;
                top:50%;
                left:45%;
            }
            img{
                cursor:pointer;
            }
            .img-inner{
                position: relative;
                cursor:pointer;
                &:hover img{
                    transition: .3s linear;
                    transform: scale(1.2);
                    filter: opacity(80%);
                    box-shadow: 0 0px .75rem $textColorFirst;
                }
                &:hover .cross-content,.search-content{
                    opacity: 1;
                    transition: opacity 1s linear;
                }
            }
        }

        .content-inner-more{
            max-width: 1300px;
            background: $bgColor2;
            margin-top: 50px;
            .btn-more{
                width: 125px;
                height: 30px;
                background: #959595;
                color:$bgColor;
                font-size:.6rem;
                text-transform:uppercase;
                padding-top: 7px;
                text-align: center;
                border-radius:2px;
                margin:30px 0 70px 0;
                cursor:pointer;
            }
        }
        
    }
}

@media (max-width: 992px){
    .content-inner-body{
        grid-template-rows: repeat(5, 250px);
        grid-template-columns: repeat(2, auto);
    }
        .img-inner:first-child{
            grid-row:1/1;
            grid-column:1/1;
        }
        .img-inner:nth-child(2){
            grid-row:1/1;
            grid-column:2/2;
            
        }
        .img-inner:nth-child(3){
            grid-row:2/2;
            grid-column:1/2;
            
        }
        .img-inner:nth-child(4){
            grid-row:2/2;
            grid-column:2/2;
           
        }
        .img-inner:nth-child(5){
            grid-row:3/3;
            grid-column:1/2;
           
        }
        .img-inner:nth-child(6){
            grid-row:3/3;
            grid-column:2/2;
        }
        .img-inner:nth-child(7){
            grid-row:4/4;
            grid-column:1/2;
            
        }
        .img-inner:nth-child(8){
            grid-row:4/4;
            grid-column:2/2;
            
        }
        .img-inner:nth-child(9){
            grid-row:5/5;
            grid-column:1/2;
            
        }
        .img-inner:last-child{
            grid-row:5/5;
            grid-column:2/2;
            position: relative;
            top: 200px;      
        }
}
@media (max-width: 730px){
    .social-nav{
        max-width: 420px;
    }
    .line-wrapp{
        display:none;
    }
}
@media (max-width: 676px){
    .header-wrapper .nav-link{
        justify-content:flex-end;
    }
}
@media(max-width: 620px){
    .nav-btn-inner{
        top:350px;
    }
    .line-wrapp{
        display:block;
    }
    .link-wrapp{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position:fixed;
        bottom:100vh;
        left:0;
        z-index: 100;
        width:100vw;
        min-height:100vh;
        background: $bgColor2;
        transition: bottom 1s linear;
        a:hover:after{
            content:"";
            width:100%;
            height:2px;
            background: $textColorFirst;
            display: block;
        }
        
    }
    .link-wrapp:before{
        content:"LIAN";
        display:block;
        font-size: 10rem;
        letter-spacing: 5rem;
        text-shadow: 15px 15px 5px $textColorFirst;
        margin: 0 30px;
        opacity: .2;
        position:absolute;
        z-index: -1;
        transform:perspective(800px) rotateX(60deg) rotateZ(30deg);
    }
    
    .header-wrapper .nav-link{
        flex-direction: row-reverse;
        justify-content: flex-start;
        .menu-close{
            display:block;
            width:30px;
            height:30px;
            background: $textColorSecond;
            position: absolute;
            top:0;
            right:0;
            border-bottom-left-radius:5px;
            color:$bgColor2;
            font-size:3rem;
            text-align: center;
            padding: 3px;
            cursor:pointer;
            p{
                transform:rotate(50deg);
            }
        }
        .line{
            margin: 5px 0px 5px 20px;
        }
        .line:first-child, .line:last-child{
            display:block;
        }
        .img-wrapp{
            max-width:15%;
           img{
               width:24px;
               height:24px;
           }
        }
    }
    .line:first-child{
            display:block;
        }
    .line-wrapp{
        cursor:pointer;
    }
}
@media (max-width: 560px){
    .content-inner-body{
        grid-template-rows: repeat(10, 250px);
        grid-template-columns: repeat(1, auto);
    }
        .img-inner:first-child{
            grid-row:1/1;
            grid-column:1/1;
        }
        .img-inner:nth-child(2){
            grid-row:2/2;
            grid-column:1/1;
            text-align: center;
        }
        .img-inner:nth-child(3){
            grid-row:3/3;
            grid-column:1/1;
            
        }
        .img-inner:nth-child(4){
            grid-row:4/4;
            grid-column:1/1;
           
        }
        .img-inner:nth-child(5){
            grid-row:5/5;
            grid-column:1/2;
            text-align: center;
        }
        .img-inner:nth-child(6){
            grid-row:6/6;
            grid-column:1/1;
            text-align: center;
        }
        .img-inner:nth-child(7){
            grid-row:7/7;
            grid-column:1/1;
            
        }
        .img-inner:nth-child(8){
            grid-row:8/8;
            grid-column:1/1;
            
        }
        .img-inner:nth-child(9){
            grid-row:9/9;
            grid-column:1/1;
            
        }
        .img-inner:last-child{
            display:none;
        }
}
@media (max-width: 411px){
    .nav-btn-inner{
        top:400px;
    }
    .footer-inner p{
        text-align: center;
    }

}
@media (max-width: 320px){
    .nav-btn-inner{
        top:350px;
    }
    .footer-inner p{
        text-align: center;
    }

}