//color + bg +text
$bgColor:#ffffff;
$bgColor2:#FAFAFA;//body
$bgColor3:#EEEEEE;//person bg
$bgColor4:#EBEBEB;//scale bg
$bgColor5:#A1A1A1;//scale color;
$bgColor6:#E2E2E2;
$textColorFirst:#000000;
$textColorSecond:#777777;
$fontFamily:sans-serif;