.wrapper-first {
  width: 100%;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}

.wrapper-first .main-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  max-width: 1366px;
  background: #FAFAFA;
}

.wrapper-first .main-wrapper .about-agency-wrapp {
  max-width: 1366px;
  position: relative;
  background: url("../../images/about/about_text_background.png") center no-repeat;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-first .main-wrapper .about-agency-wrapp .about-agency-inner {
  position: relative;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-first .main-wrapper .about-agency-wrapp .about-agency-inner h1 {
  padding: 5px 60px;
  margin: 20px 0;
  background: #000000;
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper-first .main-wrapper .about-agency-wrapp .about-agency-inner p {
  padding: 5px 50px;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  position: relative;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper {
  width: 100%;
  max-width: 1366px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 550px;
          flex: 0 0 550px;
  position: relative;
  width: 550px;
  height: 400px;
  overflow: hidden;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-slider .show {
  opacity: 1;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills {
  position: relative;
  width: 550px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills h1 {
  font-size: .8rem;
  color: #000000;
  font-weight: 200;
  margin-bottom: 10px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .our-story {
  position: absolute;
  min-height: 100%;
  z-index: 2;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .our-story p {
  font-size: .7rem;
  margin-bottom: 10px;
  color: #777777;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .our-skills {
  position: relative;
  z-index: 1;
  top: 130px;
  margin-bottom: 130px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .our-skills p {
  font-size: .7rem;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale {
  margin-bottom: 20px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale .input-wrapp {
  background: #EBEBEB;
  width: 100%;
  height: 6px;
  position: relative;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale input {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #A1A1A1;
  width: 100%;
  height: 2px;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale .scale-info {
  color: #ffffff;
  padding: 23px 0 0 5px;
  font-size: .5rem;
  display: inline-block;
  position: relative;
  top: -60px;
  width: 40px;
  height: 50px;
  -webkit-clip-path: polygon(100% 40%, 100% 82%, 25% 82%, 0 100%, 0 40%);
          clip-path: polygon(100% 40%, 100% 82%, 25% 82%, 0 100%, 0 40%);
  background: #000000;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 2px solid #000000;
  background: #ffffff;
}

.wrapper-first .main-wrapper .our-wrapp-wrapper .our-wrapp .our-story-skills .skills-scale output span {
  font-size: .4rem;
}

.wrapper-first .main-wrapper .awesome-team-wrapp {
  width: 100%;
  max-width: 1366px;
}

.wrapper-first .main-wrapper .awesome-team-wrapp .awesome-team-inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.wrapper-first .main-wrapper .awesome-team-wrapp .awesome-team-inner h1 {
  font-size: 1rem;
  font-weight: 200;
  color: #000000;
  padding: 90px 0 20px 0;
}

.wrapper-first .main-wrapper .awesome-team-wrapp .awesome-team-inner p {
  font-size: .8rem;
  margin-bottom: 10px;
  color: #777777;
}

.wrapper-first .main-wrapper .team-bild-wrapper {
  width: 100%;
  max-width: 1366px;
  position: relative;
  padding: 75px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info {
  position: relative;
  width: 360px;
  background: #EEEEEE;
  margin-bottom: 15px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info .img-team {
  text-align: center;
  padding-top: 10px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info .info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  padding: 20px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info .info h1 {
  font-size: 1rem;
  color: #000000;
  padding-bottom: 5px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info .info h3 {
  font-size: .8rem;
  color: #777777;
  padding-bottom: 10px;
}

.wrapper-first .main-wrapper .team-bild-wrapper .team-bild-inner .person-info .info p {
  font-size: .8rem;
  color: #777777;
}

@media (max-width: 730px) {
  .social-nav {
    max-width: 420px;
  }
  .line-wrapp {
    display: none;
  }
}

@media (max-width: 676px) {
  .header-wrapper .nav-link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 620px) {
  .nav-btn-inner {
    top: 350px;
  }
  .line-wrapp {
    display: block;
  }
  .link-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    bottom: 100vh;
    left: 0;
    z-index: 100;
    width: 100vw;
    min-height: 100vh;
    background: #FAFAFA;
    -webkit-transition: bottom 1s linear;
    transition: bottom 1s linear;
  }
  .link-wrapp a:hover:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    display: block;
  }
  .link-wrapp:before {
    content: "LIAN";
    display: block;
    font-size: 10rem;
    letter-spacing: 5rem;
    text-shadow: 15px 15px 5px #000000;
    margin: 0 30px;
    opacity: .2;
    position: absolute;
    z-index: -1;
    -webkit-transform: perspective(800px) rotateX(60deg) rotateZ(30deg);
            transform: perspective(800px) rotateX(60deg) rotateZ(30deg);
  }
  .header-wrapper .nav-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-wrapper .nav-link .menu-close {
    display: block;
    width: 30px;
    height: 30px;
    background: #777777;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    color: #FAFAFA;
    font-size: 3rem;
    text-align: center;
    padding: 3px;
    cursor: pointer;
  }
  .header-wrapper .nav-link .menu-close p {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  .header-wrapper .nav-link .line {
    margin: 5px 0px 5px 20px;
  }
  .header-wrapper .nav-link .line:first-child, .header-wrapper .nav-link .line:last-child {
    display: block;
  }
  .header-wrapper .nav-link .img-wrapp {
    max-width: 15%;
  }
  .header-wrapper .nav-link .img-wrapp img {
    width: 24px;
    height: 24px;
  }
  .line:first-child {
    display: block;
  }
  .line-wrapp {
    cursor: pointer;
  }
}

@media (max-width: 411px) {
  .nav-btn-inner {
    top: 400px;
  }
  .footer-inner p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .nav-btn-inner {
    top: 350px;
  }
  .footer-inner p {
    text-align: center;
  }
}
/*# sourceMappingURL=about.css.map */